body, input, textarea {
    background-color: black;
    color: white;
}

#templates, .kwarque-map-popup {
    display:none;
}

.kwarque-map-popup {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 98%;
    z-index: 2000;
}

svg, img, .olLayerDiv div, .olControlPanZoom div {
    background-color:transparent;
}

body {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}
div div.offline div.messages, div.offline div.messages div,
div div.left div.messages, div.left div.messages div,
div.left div.memberslist th,
div.offline div.memberslist th {
    background-color: black;
    color: gray;
}
div div.status div.messages, div div.public div.messages, div div.private div.messages {
    height: 75%;
    overflow: auto;
}
#map, #chat {
    height:98%;
    position:absolute;
}
#map {
    width:69.5%;
    left: 0.5%;
}
.kwarque-chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4%;
}
.container {
    padding-right: 1%;
    padding-left: 1%;
    max-height: 75%;
    min-height: 25%;
    overflow: auto;
}
#chat div.chatwindow {
    border:none;
}
#chat {
    left:70.5%;
    width:29%;
}
div div._message .data {
    color:white;
}
div div.messages {
    background-color:black;
}
.kwarque-chat-message, .kwarque-chat-submit {
    position:absolute;
}
.kwarque-chat-message {
    width: 80%;
    left: 1%;
}
.kwarque-chat-submit {
    width: 17%;
    right: 1%;
}
#nick-space {
    padding: 1%;
    border: 1px solid #880000;
}

#nick-space table {
    width: 100%;
}

#nick, #password, #password-repeat {
    width: 100%;
}

#password-repeat-space {
    display:none;
}

#button-space {
    text-align:right;
}

button.kwarque-map-add {
    color: #880000;
    position: absolute;
    right: 1%;
    top: 1%;
    z-index: 1005;
}


div.header span.closeIcon {
    position:absolute;
    right:0.1em;
    width:16px;
    height:16px;
    margin-top:-8px;
    top:50%;
    width:16px;
    height:16px;
    background-image:url(images/ui-icons_880000_256x240.png);
    background-position:-96px -128px;
    background-repeat: no-repeat;
    overflow:hidden;
}